
.nuevo-brand {
    color: white;
    font-size: 30px;
    font-weight: normal;
}

.nuevo-brand-2 {
    color: white;
    font-size: 40px;
    font-weight: normal;
}

.header-login {
    background-color: #343333;
} 


@media (min-width: 1200px) {
    .contacto-login {
        padding-top: 200px;
    }
}

.form-login {
    padding-top: 30px;
}

.mensaje-login {
    color: red;
}