footer.section.footer-minimal.context-dark
	.container.wow-outer
		.wow.fadeIn
			.row.row-50
				
				.col-12
					+logo
				.col-12
					ul.footer-minimal-nav
						li: a(href='#') Pricing
						li: a(href='#blog') Blog
						li: a(href='#contacts') Contacts
						li: a(href='#gallery') Gallery
						li: a(href='#') About
				.col-12
					ul.social-list
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-facebook
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-instagram
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-twitter
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-youtube-play
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-pinterest-p
	
			p.rights
				span &copy;&nbsp; 
				span.copyright-year
				span &nbsp;
				span= logo.name
				span .&nbsp;
				span All Rights Reserved.
				span &nbsp;
