-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-default-250x111.png',
			inverse: 'logo-inverse-250x111.png',
			name: 'Curl'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template' 
		},
		colors = {
			primary: '#C89667'
		},
		menu = [
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Pricing',
				link: '#pricing'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		];
